
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.tensor.dao.BookDAO">
<select id="getBookDTO" resultType="com.boot.tensor.dto.BookDTO">
select * from EMOTIONBOOK
</select>

<select id="getRandomBook" resultType="com.boot.tensor.dto.BookDTO">
select * from emotionBook where emotionNumber=#{emotionNumber} and (bookNumber in(#{num_one}, #{num_two}, #{num_three}))
</select>
</mapper>

